#bothforms {
  text-align: center;
}
.navbarhead {
  background-color: beige;
}
#beyondnavbar {
  color: white;
  text-align: center;
  background: rgba(255,140,105,0.7);
}
.nav-link {
  color: black;
}
