{% extends "base.html" %}
{% block title %}
  {{ stats['name'] }}
{% endblock %}
{% block body %}
  <div class="text-center">
    <h1>{{stats['name']}}</h1>
    <br>
    <img class="img-thumbnail" src="{{stats['flag']}}" width="500" height="333">
  </div>
  <br>
  <br>
  Calling Code -- {{stats['calling_code']}}
  <br>
  Population -- {{stats['population']}}
  <br>
  Official Language -- {{stats['language']}}
  <br>
  Currency Code -- {{stats['currency']}}
  <br>
  Region -- {{stats['region']}}
  <br><br>
  {{currency_stats}}
  <br>
  <form action="/countries/{{stats['alpha_3']}}" method="GET">
    <select class="form-control" name="curr_2">
      {% for i in valid_curr_rates %}
        <option>{{i}}</option>
      {% endfor %}
    </select>
  <input type="text" class="form-control" name="value">
  <input type="submit" name="submit">
</form>
{% endblock %}
