{% extends "base.html" %}
{% block body %}
   Stats:
  {% for i in stats %}
    {{i}} -- {{stats[i]}}
    <br>
  {% endfor %}
  <br>
  Currency stats (not used until converter called):
  {% for i in currency_stats %}
    {{i}}
    <br>
  {% endfor %}
  <br>
  <form action="/countries/{{stats['alpha_3']}}" method="GET">
    <select class="form-control" name="curr_2">
      {% for i in valid_curr_rates %}
        <option>{{i}}</option>
      {% endfor %}
    </select>
  <input type="text" class="form-control" name="value">
  <input type="submit" name="submit">
</form>
{% endblock %}
