{% extends "base.html" %}
{% block title %}
  All About Countries
{% endblock %}
{% block bodyformat %}
  <body background="https://images-na.ssl-images-amazon.com/images/I/91r3WRR8-cL._SL1500_.jpg">
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div id="beyondnavbar" class="col col-lg-4">
        <h3>Welcome {{username}}!</h3>
        <br>
        <br>
        <p>Click the following link to go to the quiz:</p>
        <a href="/quiz">Countries Quiz</a>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div class="card" style="width:30rem;margin:0 auto;">
    <div class="card-header text-center">
      Find the Average Age of a Name
    </div>
    <div class="card-body align-items-center">
      {% if response == "" %}
        In {{country}}, there are {{name_stats[0]}} people with the name {{name}} in the database, with an average age of {{name_stats[1]}}
      {% else %}
        {{response}}
      {% endif %}
      <form action="/home">
        <div class="form-row">
          <div class="col-auto">
            Enter the name you wish to see:
            <input class="form-control" type="text" name="name">
          </div>
          <div class="col-auto">
            And in what country?
            <select class="form-control" style="width:auto;" name="country">
              {% for i in country_list %}
                <option>{{i}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-auto">
            <input class="btn btn-dark" type="submit" name="submit">
          </div>
        </div>
      </form>
      <br>
      <br>
    </div>
  </div>
{% endblock %}
