{% extends "base.html" %}
{% block title %}
  All About Countries
{% endblock %}
{% block bodyformat %}
  <body background="https://images-na.ssl-images-amazon.com/images/I/91r3WRR8-cL._SL1500_.jpg">
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div id="beyondnavbar" class="col col-lg-4">
        <h3>Welcome {{username}}!</h3>
        <br>
        <br>
        <p>Click the following link to go to the quiz:</p>
        <a href="/quiz">Countries Quiz</a>
      </div>
    </div>
  </div>
  <br><br><br><br>
  {% if response == "" %}
    {% for i in name_stats %}
      {{i}}
    {% endfor %}
  {% else %}
    {{response}}
  {% endif %}
  <form action="/home">
    <input type="text" name="name">
    <select class="form-control" name="country">
      {% for i in country_list %}
        <option>{{i}}</option>
      {% endfor %}
    </select>
    <input type="submit" name="submit">
  </form>
{% endblock %}
