{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block title %}
  Country Quiz!
{% endblock %}
{% block body %}
  <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%"></div>
  </div>
  <h1>247 countries! Can you get them all?</h1>
  <form action="/quiz">
    Country:
    <input type="text" name="country">
    <input type="submit" value="Check" name="check">
  </form>
  <table class="table">
    <thead>
      <th scope="col">Country</th>
      <th scope="col">Continent</th>
    </thead>
  </table>
  <h1>{{response}}</h1>
  <a href="/home">Go back home</a>
  {% for i in results %}
    {{i}}
  {% endfor %}
{% endblock %}
