{% extends "base.html" %}
{% block title %}
  Country Quiz!
{% endblock %}
{% block body %}
  <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{long/2.47}}%"></div>
  </div>
  <h1>247 countries! Can you get them all?</h1>
  <h3>{{long}}/247</h3>
  <form action="/quiz">
    Country:
    <input type="text" name="country" autofocus="autofocus">
    <input type="submit" value="Check" name="check">
    <input type="submit" name="reset" value="Reset Quiz">
  </form>
  <table class="table">
    <thead>
      <th scope="col">Country</th>
      <th scope="col">Continent</th>
    </thead>
  {% for i in results %}
    {% if i|lower == response|lower %}
      <tr id="latestcorrect">
    {% else %}
      <tr>
    {% endif %}
      <td>{{i}}</td>
      <td>{{results[i]}}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
